#{extends 'main.html' /}
#{set title:'TradingPeers -  View Community quote ' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.yql.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/jquery.dataTables.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/portfolio.js'}" type="text/javascript" charset="utf-8"></script>
#{/set} 

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/portfolioTable.css'}">
#{/set}

#{menu/}

<h2>Quote ${communityQuote.quote.symbol}</h2>

<h3>Stock info</h3>
<p>Company Name : <label id="companyNameLabelId">${communityQuote.quote.companyName}</label></p>

<h3>Portfolios</h3>

<table class='porfolioTable' id='positionsTableId'>
	<thead>
		<tr>
			<th>User</th>
			<th>average price</th>
			<th># of shares</th>
		</tr>
	</thead>
	<tbody>

		#{list items:communityQuote.portfolioEntries, as:'portfolioEntry'}
        <tr symbol='${communityQuote.quote.symbol}' positionId='${portfolioEntry.id}'>
			<td><a
				href="/profiles/${portfolioEntry.portfolio.user.id}">${portfolioEntry.portfolio.user.userName}</a>
			</td>
			<td dynamic='averagePrice'>${portfolioEntry.averagePrice}</td>
			<td dynamic='positionQty'>${portfolioEntry.shareQty}</td>
		</tr>
		#{/list}

	</tbody>
</table>

<h3>Last transactions</h3>

 <table class='porfolioTable' id='transactionsTableId'>
<thead>
	<tr>
	<th>Date</th>
	<th>Type</th>
	<th>Quantity</th>
	<th>unit price</th>
	<th>total price</th>
	<th>User</th>
	</tr>
</thead>
<tbody>
#{list items:communityQuote.portfolioTransactions, as:'transaction'}
<tr>
	<td>${transaction.executionDate}</td>
	<td>${transaction.type}</td>
	<td>${transaction.quantity}</td>
	<td>${transaction.unitPrice}</td>
	<td>${transaction.getAmount()}</td>
	<td><a
				href="/profiles/${transaction.portfolio.user.id}">${transaction.portfolio.user.userName}</a>
	</td>
</tr>
#{/list}
</tbody>
</table>